---
layout: default
---

<body>
  <div id="container">
      <div class="leftcolumn">
          <img src="images/ipgp_logo.svg"/>
      </div>

      <div class="rightcolumn">
      <hr>
        <h3>
          <a id="repositories" class="anchor" href="repositories" aria-hidden="true"></a>Repositories of IPGP on GitHub</h3>
        <p>
          <ul>
            {% for repository in site.github.public_repositories %}
              {% if repository.name != 'coordination' and repository.name != 'IPGP.github.io' %} 
                <li> <a id={{ repository.name }} class="anchor" href={{ repository.html_url }} aria-hidden="true">{{ repository.name | downcase }}</a></li>
              {% endif %}

            {% endfor %}
          </ul>
        </p>
      </section>
      <section id="downloads" class="clearfix">
        <a href="https://github.com/IPGP" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>
      </div>
    </div>
  </div>
</body>
</html>
